<?xml version="1.0" encoding="UTF-8"?>

<!-- The root node for Magento module configuration -->
<config>
  <modules>
    <RateItCool_ProductReviews>
      <version>0.0.1</version>
    </RateItCool_ProductReviews>
  </modules>
  <global>
    <models>
      <catalog>
        <rewrite>
          <product>RateItCool_ProductReviews_Model_Product</product>
        </rewrite>
      </catalog>
      <productreviews>
        <class>RateItCool_ProductReviews_Model_Review</class>
      </productreviews>
      <sales>
        <rewrite>
          <order_item>RateItCool_ProductReviews_Model_Order_Item</order_item>
        </rewrite>
      </sales>
    </models>
    <resources>
      <productreviews_setup>
        <setup>
          <module>RateItCool_ProductReviews</module>
        </setup>
      </productreviews_setup>
    </resources>
    <blocks>
      <review>
        <class>RateItCool_ProductReviews_Block</class>
      </review>
    </blocks>
    <helpers>
      <RateItCool_ProductReviews>
        <class>RateItCool_ProductReviews_Helper</class>
      </RateItCool_ProductReviews>
    </helpers>
  </global>
  <frontend>
    <layout>
      <updates>
        <RateItCool_ProductReviews module="RateItCool_ProductReviews">
          <file>productreviews.xml</file>
        </RateItCool_ProductReviews>
      </updates>
    </layout>
    <routers>
      <productreviews>
        <use>standard</use>
        <args>
          <module>RateItCool_ProductReviews</module>
          <frontName>productreviews</frontName>
        </args>
      </productreviews>
    </routers>
    <translate>
      <modules>
        <productreviews>
          <files>
            <default>RateItCool_ProductReviews.csv</default>
          </files>
        </productreviews>
      </modules>
    </translate>
  </frontend>
  <default>
    <catalog>
      <productreviews>
        <api_user>demo</api_user>
        <api_key>password</api_key>
        <server_api_key>password</server_api_key>
      </productreviews>
    </catalog>
  </default>
</config>
