.ratings .ratingCount {
  float:left;
  width:60px;
  margin-top:5px;
}
.ratings .rating.rate-it-cool-review-summary-empty {
   width:0%;
}
.feedbackOverview td.count {
  padding-left: 5px;
}
.rate-it-cool-product-feedbacks .overview, .rate-it-cool-product-feedbacks .recommend, .rate-it-cool-product-public-feedbackform {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
}
.rate-it-cool-product-feedbacks .list dd {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
}
.rate-it-cool-product-feedbacks .helpful {
  margin-top: 10px;
}
.rate-it-cool-product-feedbacks .helpful .negative,
.rate-it-cool-product-feedbacks .helpful .positive,
.rate-it-cool-product-feedbacks .incorrect .report {
  cursor: pointer;
  color: #3399cc;
}
.rate-it-cool-product-feedbacks .showmore {
  float:right;
  padding: 5px 0;
}
.rate-it-cool-product-feedbacks .showmoreContainer {
  padding: 5px 0;
}
.rate-it-cool-product-feedbacks .date {
  float:right;
}
.rate-it-cool-product-feedbacks table.feedbackOverview {
  float: left;
}

.box-up-sell .ratings, .cms-index-index .products-grid .ratings, .cms-index-noroute .products-grid .ratings {
  display: block !important;
}

.rate-it-cool-feedback-form .rating-box {
  cursor: pointer;
}
.rate-it-cool-feedback-form h2 {
  margin-bottom: 0;
}
.rate-it-cool-feedback-form .feedback-title {
  margin-top: 10px;
}
.rate-it-cool-feedback-form td {
  padding: 2px 10px;
}
.rate-it-cool-feedback-form td.second {
  background-color:#eee;
}
.rate-it-cool-feedback-form .feedback-content textarea, .feedback-content textarea
{
  padding: 10px 0 10px 5px;
  width: 99% !important;
  max-width:100%;
  margin: 10px 0;
  border-color: #ccc;
}
.feedback-title input {
  width: 100%;
}
.rate-it-cool-feedback-form .rate-it-cool-star-text {
  margin-left: 10px;
}
.rateit-cool-send-feedback-error {
  color: red;
}
.rate-it-cool-show-stars {
  font-size: 10px;
  outline: solid 1px #ccc;
  padding: 2px 8px;
  background-position: 0 -573px;
  cursor: pointer;
}
.rate-it-cool-show-stars:hover {
  background-position: -50px -573px;
}
.rate-it-cool-stars-detail-table {
  outline: solid 1px #ccc;
  margin-top: 10px;
  width: inherit;
}

.rate-it-cool-stars-detail-table td, .rate-it-cool-stars-detail-table th {
  padding: 2px;
}

.rate-it-cool-stars-detail-table th {
  background-color: #ccc;
  font-weight: bold;
}
.rate-it-cool-detail-stars {
  float: right;
}

.feedbackOverview td, .rate-it-cool-detail-stars td {
  padding: 2px;
}

.rate-it-cool-verified, .rate-it-cool-public, .rate-it-cool-mobile {
  float: right;
  font-weight: bold;
}
